/**
* @file public\css\aboutme\dave.css
* This file implements the styling for the T12a About view.
*
* @summary - Team 12a About Styling.
* @author - Dave W.
* @copyright - Northest Missouri State University
*/

/* ----------biography ---------- */
h1 {font-size: 2.5em;line-height: .5em; color: limegreen}
h2 {font-size: 1.4em;line-height: 1.4em; color: yellow}
p {font-size: 1.1em;line-height: 1.2em; color:white}
.biography_style {padding-left:3em; padding-right:3em}
.header_style {text-align:center; padding: 15px}
.blackbgrd {background-color:black}
.subtitle {color: yellow}
.paragraphtext {color: white}
.img_circle {border-radius: 50%; height:18em; width:18em}
.float_left {float: left; padding: 1em}
.float_right {float: right; padding: 1em}
#fullname {height:1.1em; color:green;text-align:center; margin-top: 0;margin-bottom: 0}
#about_me {height:1.8em; font-size: 1.7em; color:yellow;text-align:center; margin-top: 0;margin-bottom: 0}


