<li class="dropdown-submenu">
    <a href="#">The University History<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        
      <li class="dropdown-submenu">
        <a href="/about/t12">Team 12 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t12/a">Pavithra</a></li>
        
        </ul>
      </li>
      
      

      

      