

<div class="container-fluid">
    <div class=row>
        <div class="col-md-12">
            <br/>
            <h1>Welcome to the University Market Place</h1>
            <br/>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 w3-content w3-section" style="max-width:500px">
            <img class="mySlides" src="../../images/welcome/img1.jpg" style="width:75%">
           
        </div>
        <div class="col-md-2 col-md-offset-2">
           
            <hr style="margin-right: -91px;border-top: 3px double #000000;">
            <h3>Please select</h3>
           
            

        </div>
    </div>
    <br/>
</div>
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>