<!-- /**
*
*      +-----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                      | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Team 2                                                                                                           | 
*      |Unit 2  : Chaithanya Manas Reddy Matta , Karunakar Reddy                                                         | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This is the forgot file if we forgot password                                                       | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                        |
*      |-----------------------------------------------------------------------------------------------------------------|
*      | Karunakar Reddy Katasani         0.0.1(Initial)                   Updated                                       | 
*      |                                                                                                              | 
*      |                                                                                                                 | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/
-->
<div class="custom-container" ng-controller="UserForgetPswCtrl">
  <div class="page-header">
    <h3>Forgot Password</h3>
  </div>
  <form novalidate method="POST" action="" name="forgotForm" class="form-horizontal">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />

    <p>Enter your email address below and we will send you password reset instructions</p>
    <div class="form-group clearfix">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-6">
        <input type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" class="form-control" required ng-model="email"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="submit" class="btn btn-primary" ng-disabled="forgotForm.$invalid || !email">
          <i class="fa fa-key"></i>Reset Password
        </button>
      </div>
    </div>
  </form>
</div>