<!-- /**
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*       |-----------------------------------------------------------------------------------------------------------------|
*      |Team #5                                                                                                                          | 
*      |Unit #5  : Santhosh Dulam,Sai Varun,Keerthi                                                                                        | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page allows us to reset the password.                                                                   | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Keerthi Chiduruppa              0.0.1(Initial)                 updated              | 
*      |                                                                                                                                       | 
*      |                                                                                                                                       | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/ -->
<!-- https://raw.githubusercontent.com/yhnavein/express-starter/master/views/account/reset.ejs -->

<div class="custom-container" ng-controller="UserResetPswCtrl">
  <div class="page-header">
    <h3>Reset Password</h3>
  </div>
  <form novalidate method="POST" action="" name="resetForm" class="form-horizontal">
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

    <blockquote>
      <strong>Almost done!</strong> You need to set up your new password now and please note, that the new password has to be at least 4 characters long.
    </blockquote>

    <div class="form-group">
      <label for="password" class="col-sm-4 control-label">New Password</label>
      <div class="col-sm-4">
        <input type="password" name="password" placeholder="New password" autofocus="autofocus" class="form-control" ng-model="psw" required ng-minlength="4"/>
        <div password-strength value="psw"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-sm-4 control-label">Confirm Password</label>
      <div class="col-sm-4">
        <input type="password" name="confirm" placeholder="Confirm password" class="form-control" ng-model="psw1" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" class="btn btn-primary btn-reset" ng-disabled="resetForm.$invalid || psw != psw1">
          <i class="fa fa-keyboard-o"></i>Change Password
        </button>
      </div>
    </div>
  </form>
</div>